@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600&family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');


* {
    -webkit-box-sizing: border-box;
    -moz-box-align: border-box;
    box-sizing: border-box;
}
/*reset default sitting*/
h1{
    margin: 0;
    font-family: PT Serif;
    font-size: 36px;
    line-height:48px;
}
p, h4{
    margin: 0;
    font-family: Poppins;
}

/*Intro Section*/
.intro {
    padding:5% 20px 0;
    background-color: #333333;
    color: #fff;
}

/*Membrs Section*/
.parent{
    margin: 6% auto;
    background-color: #ddd;
    width: 95%;
    
}
.person-box {
    text-align: center;
    padding: 10px;
    transition: .5s;
    cursor: pointer;
    
    z-index: 1;
}
.person-box > div {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 7px;
}
.person-box:hover {
    transform: scale(1.3, 1.3);
    z-index: 2;
}
.person-box img {
    width:98%;
    padding: 2%;
    transition: .5s;
    filter: grayscale(100%);
}
.person-box:hover img {
    filter: grayscale(0%);
}
.icons-parent {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}
.icons-parent img {
    width: 50px;
    height: 50px;
    transition: .3s;
}
.icons-parent img:hover {
    transform: scale(1.2, 1.2);
}
/*footer Section*/
.footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center; 
}
.footer p{
    color: #fff;
}

@media screen and (max-width: 414px) {
    .person-box:hover {
        transform: scale(1.1, 1.1);
        z-index: 2;
    }
}